<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.Js news</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">Node.Js News</div>
        <div class="header-search">

            <form action="/" method="POST">
                <input type="text" name="search" placeholder="Search for news" required id="input">
                <input type="submit" value="search">
            </form>
        </div>

    </header>
    <div class="container">
        <div class="news-single">
            <a href="/">&lAarr;- Back</a>
            <% if (article) {%>
            
            <h2><%-article.title.rendered  %> </h2>
            <p><%- article.excerpt.rendered %></p>
            <% }else{ %>
                Article not found.
                <% } %>
            </a>
        </div>
    </div>
</body>
</html>