<div class="header-search">

    <form action="/" method="POST">
        <input type="text" name="search" placeholder="Search for news" required id="input">
        <input type="submit" value="search">
    </form>
</div>